@using test.Models
@model ApplicationUser
@{
    ViewData["Title"] = "Login";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<div class="d-flex justify-content-center align-items-center">
    <div class="card shadow col-4 p-3">
        <form asp-action="Login" asp-controller="Home">
            <div class="mb-2">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Password" class="form-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>
